Vorbereitung 1/medi.dtd

<!ELEMENT Mediathek (infos+)>
          <!ELEMENT infos (titel, jahr, produktionsland, laenge, regie, cast)>
          <!ATTLIST infos
          id ID #REQUIRED>
          <!ELEMENT titel (#PCDATA)>
          <!ELEMENT jahr (#PCDATA)>
          <!ELEMENT produktionsland (#PCDATA)>
          <!ELEMENT laenge (#PCDATA)>
          <!ELEMENT regie (#PCDATA)>
          <!ELEMENT cast (#PCDATA)>
